<%= form_for(cliente) do |f| %>
  <% if cliente.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cliente.errors.count, "error") %> prohibited this cliente from being saved:</h2>

      <ul>
      <% cliente.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-group">
    <div class="field">
      <%= f.label :nome %>
      <%= f.text_field :nome, class: "form-control" %>
    </div>

    <div class="field">
      <%= f.label :cpf %>
      <%= f.text_field :cpf, class: "form-control" %>
    </div>

    <div class="field">
      <%= f.label :telefone %>
      <%= f.text_field :telefone, class: "form-control" %>
    </div>

    <div class="field">
      <%= f.label :endereco %>
      <%= f.text_field :endereco, class: "form-control" %>
    </div>

    <div class="field">
      <%= f.label :dataNascimento %>
      <%= f.text_field :dataNascimento, "data-provide" => 'datepicker' %>
      <!-- <%= f.text_field :dataNascimento %> -->
    </div>
  </div>

  <div class="actions">
    <%= f.submit 'Salvar', :class => 'btn btn-success' %>
  </div>
<% end %>
