<!-- Navigation -->
<nav class="navbar navbar-default navbar-static-top" role="navigation">
   <div class="container">
    <!-- Collect the nav links, forms, and other content for toggling -->
            <ul class="nav nav-pills">
                <li role="presentation"><%= link_to "Início", home_index_path%></a></li>
                <li><%= link_to 'Produtos', produtos_path %></li>
                <li role="presentation"><%= link_to 'Funcionários', funcionarios_path %></li>
                <li role="presentation"><%= link_to 'Clientes', clientes_path %></a></li>
                <li role="presentation"><%= link_to "Fornecedores", fornecedores_path%>
            </ul>
    </div>
    <!-- /.container -->
</nav>
