<p id="notice"><%= notice %></p>

<h1>Produtos</h1>
<%= render 'formbusca' %>
<table class="table">
  <thead>
    <tr>
      <th>Descricao</th>
      <th>Marca</th>
      <th>Preco</th>
      <th>Nacionalidade</th>
      <th>Fornecedor</th>
      <th>Foto</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @produtos.each do |produto| %>
      <tr>
        <td><%= produto.descricao %></td>
        <td><%= produto.marca %></td>
        <td><%= produto.preco %></td>
        <td><%= produto.nacionalidade %></td>
        <td><%= produto.fornecedor.nome %></td>
        <td><%= image_tag produto.foto, height: '60', width: '60' %></td>
        <br/>
        <td class="btn-group">
          <%= link_to 'Ver', produto, class: "btn btn-info" %>
          <%= link_to 'Editar', edit_produto_path(produto), class: "btn btn-warning" %>
          <%= link_to 'Excluir', produto, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
        </td>
      </tr>
    <% end %>
    <td> <%= will_paginate @produtos, previous_label: "Anterior", next_label: "Próxima" %></td>
  </tbody>
</table>

<!-- <div class="btn-group" role="group" aria-label="...">
  <button type="button" class="btn btn-default">Left</button>
  <button type="button" class="btn btn-default">Middle</button>
  <button type="button" class="btn btn-default">Right</button>
</div> -->
<br>

<%= link_to 'Novo produto', new_produto_path, class: "btn btn-success" %>
