<p id="notice"><%= notice %></p>

<p>
  <strong>Descricao:</strong>
  <%= @produto.descricao %>
</p>

<p>
  <strong>Marca:</strong>
  <%= @produto.marca %>
</p>

<p>
  <strong>Preco:</strong>
  <%= @produto.preco %>
</p>

<p>
  <strong>Nacionalidade:</strong>
  <%= @produto.nacionalidade %>
</p>

<p>
  <strong>Fornecedor:</strong>
  <%= @produto.fornecedor.nome %>
</p>

<p>
  <strong>Foto:</strong>
  <%= image_tag @produto.foto, height: '200', width: '200'%>
</p>

<%= link_to 'Edit', edit_produto_path(@produto) %> |
<%= link_to 'Back', produtos_path %>
